*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 10px solid black;
}
#top{
    display: flex;
    height: 95%;
    width: 100%;
}
#bot{
    display: flex;
    justify-content: center;
    height: 5%;
    width: 100%;
    border-bottom: 5px dashed black;
}
#lewo{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}
#gora{
    display: flex;
    justify-content: space-between;
    border: 10px solid black;
    height: 20%;
    width: 95%;
}
#klocek1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B8673;
    height: 80%;
    width: 15%;
    color: white;
}
#klocek2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B8673;
    height: 80%;
    width: 15%;
    color: white;
}
#klocek3 > img{
    height: 150px;
    width: 150px;
}
#klocek4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B8673;
    height: 80%;
    width: 15%;
    color: white;
}
#klocek5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B8673;
    height: 80%;
    width: 15%;
    color: white;
}
#dol{
    display: flex;
    border: 10px solid black;
    height: 80%;
    width: 95%;
}
#prawo{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}
#goku{
    display: flex;
    height: 20%;
    width: 100%;
    border: 10px solid black;
}
#vegeta{
    display: flex;
    height: 60%;
    width: 100%;
}
#gohan{
    display: flex;
    justify-content: center;
    height: 20%;
    width: 100%;
    border: 10px solid black;
}